.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;

  position: fixed;
  width: 100%;
  top: 0;
  z-index: 6;
}

.navbar div {
  display: flex;
  align-items: center;
}

.navbar-center {
  flex-grow: 1;
  justify-content: center;
}

.navbar-center .navbar-logo {
  cursor: pointer;
}

.navbar img {
  height: 40px;
}

.navbar-right {
  margin-right: 2rem;
  flex-direction: row-reverse;
  width: 30vw;
}

.navbar-left {
  width: 30vw;
  z-index: 1;
}

.navbar-cart {
  position: relative;
  cursor: pointer;
}

.navbar-cart .cart-bubble {
  display: flex;
  justify-content: center;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  background-color: #000;
  color: #fff;
  position: absolute;
  top: -2px;
  right: -7px;
  padding: 2px;
}

.navbar-cart .cart-bubble p {
  font-size: 1px;
}

@media (max-width: 576px) {
  .navbar .navbar-left {
    display: none;
  }

  .navbar-center {
    justify-content: left;
    margin-left: 2rem;
  }

  .navbar div {
    padding-top: 3px;
  }
}
