.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 90vw;
  margin: 3rem auto;
}

.product-card {
  border: #fff solid 2px;
  margin: 2vw;

  text-align: center;

  border-radius: 15px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;

  background-color: white;
  font-size: x-small;
  cursor: pointer;
}

.product-card:hover {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  transform: scale(1.04);
}

.product-img img {
  width: 100%;
  height: 20vw;
  object-fit: cover;
  object-position: top;

  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 16px 0px;
}

.product-card .overlay {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #c5c0c0;
  font-size: 1.5rem;
}

.product-card .product-img {
  position: relative;
}

.product-cart {
  display: none;
  position: relative;
}

.product-cart img {
  position: absolute;
  width: 2.5rem;
  border-radius: 100%;
  right: 2rem;
  bottom: -1.1rem;
}

.product-card:hover > .product-cart {
  display: block;
}

.product-text {
  text-align: left;
  padding-left: 1rem;
}

.products-name {
  font-weight: normal;
}

.products-price {
  font-weight: bold;
}

@media (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .product-img img {
    height: 25vw;
  }
}

@media (max-width: 992px) {
  .product-card .overlay {
    font-size: 1.8rem;
  }

  .product-cart {
    display: block;
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .product-img img {
    height: 40vw;
  }
}

@media (max-width: 576px) {
  .grid {
    width: 80vw;
    grid-template-columns: repeat(1, 1fr);
  }

  .product-img img {
    height: 80vw;
  }
}
